<!DOCTYPE html>
<html>
<head>
	<title></title>
	<p id="notice"><%= notice %></p>
</head>
<body>
	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>

	<%= link_to 'Edit', edit_category_path(@category) %> |
	<%= link_to 'Back', categories_path %>
</body>
</html>

